body {
  box-sizing: border-box;
}
.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userlist {
  padding: 2rem;
  font-size: 1rem;
  border: 1px solid black;
  box-shadow: 0 0 10px gray;
  gap: 10px;
}
.form {
  display: flex;
  gap: 1rem;
}
